<div class="flex items-center space-x-4">
    <div class="flex-shrink-0">
      <div class="flex items-center mr-4">
        <input
          id="inline-checkbox"
          type="checkbox"
          value=""
          class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
      </div>
    </div>
    <div class="flex-1 min-w-0">
      <p
        class="text-sm font-medium text-gray-900 truncate dark:text-white"
      >
        
        {{dataPlatillos.nombre}}
        
      </p>
      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        {{dataPlatillos.descripcion}}
      </p>
    </div>
    <div
      class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
    >
    $ {{dataPlatillos.precio}}
    </div>
  </div>