<div class="grid grid-cols-4 gap-4">
  <div class="col-end-7 col-span-2 ...">
    <!-- Modal toggle -->
    <app-buttons [dataModal]="dataModal" [data]="dataMenu"></app-buttons>
  </div>
</div>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <!-- Column -->
    <div
      class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3"
      *ngFor="let item of dataMenu"
    >
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-xl bg-stone-500">
        <header
          class="flex items-center justify-between leading-tight p-2 md:p-4"
        >
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-white" href="#">
              {{ item.nombre }}
            </a>
          </h1>
          <p class="text-grey-darker text-sm text-white">$ {{ item.precio }}</p>
        </header>

        <footer
          class="flex items-center justify-between leading-none p-2 md:p-4"
        >
          <span class="flex items-center no-underline">
            <h1 class="rounded-full bg-white">M{{ item.id }}</h1>

            <p class="ml-2 p-3 text-sm text-white">Descripcion:</p>
          </span>
          <span class="hidden"></span>

          <div id="accordion-arrow-icon" data-accordion="open">
            <h2 id="accordion-arrow-icon-heading-3">
              <i
                class="fa-solid fa-angle-down"
                [attr.data-accordion-target]="'#M' + item.id"
                aria-expanded="false"
              ></i>
            </h2>
          </div>
        </footer>
        <div
          [id]="'M' + item.id"
          class="hidden"
          aria-labelledby="accordion-arrow-icon-heading-3"
        >
          <div
            class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              {{ item.descripcion }}
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              {{ item.categoria}}
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Ingredientes:
            </p>
            <ul class="pl-5 list-disc text-gray-500 dark:text-gray-400">
              <li *ngFor="let ingredientes of item.platillos">
                <p>
                  {{ ingredientes.nombre }} - {{ ingredientes.cantidad }} <br> {{ ingredientes.descripcion }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
  </div>
</div>
